body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
header {
    z-index: 10;
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 80px;
    top: 0; 
}
nav{
    display: flex;
    justify-content: space-between;
}
nav .mainMenu{
    display: flex;
    list-style: none;
}
nav .mainMenu a{
    font-size: 14px;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-family:montserrat;
    white-space: nowrap;
    font-weight: bold;
    display: inline-block;

}
nav .mainMenu li a:hover{
    color: #ad8b3a;   
}
nav .openMenu {
    font-size: 28px;
    margin-top: 25px;
    margin-right: 16px;
    display: none;
    cursor: pointer;
    color: #fff;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 28px;
    display: none;
    cursor: pointer;
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}
.sous{
    margin-top: 0px;
    display: none;
    background-color: #fff;
    position: absolute;
    width:280px;
    z-index: 1000;
    height: 150px;
    
}
.sous li{
    width: 100%;
    margin-top: 5px;
    list-style: none;
}
nav .sous a{
    padding: 10px;
    border-bottom: none;
    font-family: montserrat;
    font-weight: normal;
    text-decoration: none;
}
#icon{
    font-size: 30px;
   cursor: pointer;
   margin-top: 2%;
   display: none;
}
p a{
    color:#ad8b3a ;
    text-decoration: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
nav > ul li:hover .sous{
    display: block;
}
#accueil{
    margin-top: 80px;
}
h3{
    margin-top: 2%;
    text-align: center;
    font-family:montserrat;
    color:  #ad8b3a;
}
section{
    background-color: #fff;
}
section #présentation-tech-221{
    display: flex;
    margin: 4%;
    margin-top: 6%; 
}
.icones-accueil{
    width: 25%;
    margin-left: 37%;
    margin-top: 8px;
}
p{
    margin-top: 0%;
    text-align: center;
    font-family: roboto condensed ;
    padding: 5px;
    line-height: 20px;
}
#more {display: none;
}
#more1 {display: none;
}
#more2 {display: none;
}

.accueil{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    height:250px;
}
h2{
    font-family: montserrat;
    text-align: center;
    color:  #ad8b3a;
}
#accroche{
    margin-top: 2%;
    border: 1px ridge white;
    box-shadow:  0 0 1em #313236;
    width: 60%;
    margin-left: 20%;
    box-shadow: #fff;
    background-color:#EBECF0 ;
}
h1{
    display: none;
}
#none{
    display: none;
}
.container{
    display: none;
}
#decouverte{
    border: 1px ridge #ad8b3a;
    box-shadow:  0 0 1em #ad8b3a;
    width: 60%;
   margin-left: auto;
   margin-right: auto;
    box-shadow:#ad8b3a;
    background-color:#ad8b3a; 
    height: 100px;
    margin-bottom: 5%;
}
#decouverte h2{
    color: #fff;
}
.dev-mark{
    width: 75%;
    height: 300px;
    margin-top: 5%; 
    margin-left: 12%;
    margin-bottom: 5%;
}
.design{
    width: 75%;
    height: 300px;
    margin-top: 5%; 
    margin-left: 12%;
    margin-bottom: 5%;
}
.images-dev-mark{
   width: 400px;
   float:right ;
   height: 300px;
}
.images-design{
   width: 400px;
   float:left ;
   height: 300px;
}
.text-dev-mark{
   font-family: montserrat;  
   text-align: center;
   font-size: 20px;             
}
.text-design{
   font-family: montserrat;
   text-align: center;
   font-size: 20px;
}

.text-paragraphe{
    margin-top:-30px; 
}
.text-paragraphee{
    margin-top:-30px; 
}
hr{
   width: 150px;
   margin-top: 5%;
}
.text-paragraphe p{
   font-family: roboto condensed;
   float: left; 
   width: 50%; 
   color: #000; 
   padding: 10px; 
   text-align: justify;
}
.text-paragraphee p{
   font-family: roboto condensed;

   float: left; 
   width: 50%; 
   color: #000; 
   padding: 10px; 
   text-align: justify;
   margin-left: 4%;
}
#nos-formateurs{
    width: 87%;

}
#nos-formateurs fieldset {
    width: 95%;
    margin-left: 9%;
    text-align: center;
    height: 470px;
    display: flex;
    
}
.formateurs{
    margin-left:auto;
    margin-right: auto;
    margin-top: 25px;
    border: 3px ridge white;
    border-radius: 14px;
    background-color: #fff;
    margin: 1%;
}
.formateurs:hover{
    background-color: #EBECF0;
}
.images-formateurs{
    width: 250px;
    height: 170px;
    border-radius: 14px;
    cursor: pointer;
}
.formateurs h2 {
    color: black;
    cursor: pointer;
}
.formateurs h3{
    color: black;
    cursor: pointer;   
    font-size: 13px;
}
.formateurs p {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}
legend{
    font-size: 30px;
    font-family: montserrat;
    color: #ad8b3a;

}
   #mobile-version{
       display: none;
   }
   #contact{
       margin-top: 8%;  
   }
   input{
    margin-left: 8%;
    margin-bottom: 4%;
    display: block;
    width: 399px;
    height: 32px;
    border-radius: 12px;
    border: 1px black solid;
    border-bottom: 2px #c90017 solid;
   }
   #recherche{
       margin-top: 3%;
   }
   .message{
       width: 397px;
       height: 200px;
       border: 1px black solid;
   }
   .button-envoyer{ 
        margin-right: -28px;
        margin-bottom: 15px;
        background-color: #ad8b3a;
        width: 73px;
        float: right;
        height: 27px;
     
   }
   button{
      border: 1px black solid;
      border-radius: 8px;
      color: #fff;
   }
   .contact-maps{
       display: flex;
       border: 1px black solid;
        width: 90%;
        margin-left: auto;
        margin-right: auto; 
   }
   #maps{
    margin-top: 3%;
       margin-left: 20%;
       margin-bottom: 15px;
   }
   .maps{
       display: none;
   }
   #newsletter{
    margin-top: 10%;  
    margin-left: auto;
    margin-right: auto;
    width:73%;
    margin-bottom: 5%;
    
}
.container1 {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto; 
}
.container1 .text0 {
   
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    color: white;
    width: 70%;
}
.text0 h2{
    margin-left: 30px;
    color: #fff;
    margin-top: -43px;
}
.newsletter-image{
    width: 100%;
    height: 285px;
}

.label{
    display: flex;
    margin-left: 133px;
    margin-top: 70px;
}
.label button{
    color: #fff;
    background-color: #ad8b3a;
    border: none;
    height: 27px;
    margin-left: 10px;
}
.email{
    width: 300px;
    height: 25px;
    border: none;
    margin-left: 0px;
}
footer{
    background-color: #c90017;
    height: 120px;
}
footer p {
    color: #fff;
    float: left;
    margin-top: 55px;
}
footer ul{
    margin-right: 25px;
    float: right;
    display: flex;
    margin-top: 55px;

}
footer ul li {
    margin-left: 15px;
    text-decoration: none;
    list-style: none;
}
.social-media{
    width: 25px;
    height: 25px;
}

@media screen and (max-width:375px) {
    header {
        position: relative;  
       height: 0px;
    }
    .logo{
        display: block;
    }
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        background-color:  #fff;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu{
        display: block;
    }
    nav .mainMenu li a:hover{
        background: none;
        font-size: 1.6rem;
    }
    .icons i{
        display: inline-block;
        padding: 12px;
    }
    span {
        display: none;
    }
    h4{
        font-family: montserrat;
        font-size: 25px;
    }
    #none{
        display: block;
        width: 100%;     
    }
    .container {
        display: block;
        position: relative;
    }
    .container .text {
       
        z-index: 1;
        position: absolute;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%;
        color: white;
        width: 70%;
    }
    #accroche{
        margin-top: 8%;
        border: 1px ridge white;
        box-shadow:  0 0 1em #313236;
        width: 88%;
        margin: 30px;
        box-shadow: #fff;
        background-color:#EBECF0 ;
    }
    section #présentation-tech-221{
        display: block; 
    }
    .accueil{
        border: 3px ridge white;
        border-radius: 14px;
        background-color: #EBECF0;
        width: 70%;
        margin: 10%;
    }
   
    
}
@media screen and (min-width:376), (max-width:614px) {
    header {
        position: relative;  
       height: 0px;
    }
    h4{
        font-family: montserrat;
        font-size: 25px;
    }
    .logo{
        display: block;
    }
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        background-color:  #fff;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu{
        display: block;
    }
    nav .mainMenu li a:hover{
        background: none;
        font-size: 1.6rem;
    }
    .icons i{
        display: inline-block;
        padding: 12px;
    }
    span {
        display: none;
    }
    #none{
        display: block;
        width: 100%;    
    }
    .container {
        display: block;
        position: relative;
    }
    .container .text {
       
        z-index: 1;
        position: absolute;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%;
        color: white;
        width: 70%;
    }   
    #accroche{
        margin-top: 8%;
        border: 1px ridge white;
        box-shadow:  0 0 1em #313236;
        width: 88%;
        margin: 30px;
        box-shadow: #fff;
        background-color:#EBECF0 ;
    }
    section #présentation-tech-221{
        display: block;
       
    }
    .accueil{
        border: 3px ridge white;
        border-radius: 14px;
        background-color: #EBECF0;
        width: 70%;
        margin: 10%;
    }
    
    
}
@media screen and (max-width:768px) {
    header {
        position: relative;  
       height: 0px;
    }
    .logo{
        display: block;
    }
    h4{
        font-family: montserrat;
        font-size: 20px;
        white-space: nowrap;

    }
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        background-color:  #fff;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu{
        display: block;
    }
    nav .mainMenu li a:hover{
        background: none;
    
        font-size: 1.6rem;
    }
    .icons i{
        display: inline-block;
        padding: 12px;
    }
    span {
        display: none;
    }
    #none{
        display: block;
        width: 100%;
    }
    .container {
        display: block;
        position: relative;
    }
    .container .text {
       
        z-index: 1;
        position: absolute;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%;
        color: white;
        width: 70%;
    }   
    #accroche{
        margin-top: 8%;
        border: 1px ridge white;
        box-shadow:  0 0 1em #313236;
        width: 88%;
        margin: 7%;
        box-shadow: #fff;
        background-color:#EBECF0 ;
    }
    section #présentation-tech-221{
        display: block;
       
    }
    .accueil{
        border: 3px ridge white;
        border-radius: 14px;
        background-color: #EBECF0;
        width: 70%;
        margin: 15%;
    }
}
@media screen and (min-width:280), (max-width:1125px) {
    header {
        position: relative;  
       height: 0px;
    }
    body{
        overflow-x: hidden;
    }
    #Nos-formations{
        display: none;
    }
    #mobile-version{
        display: block;
    }
    #dev-web{
        height: 470px;
        margin-top: 25px;
        display: block;
        width: 100%;
    }
    #design{
        height: 410px;
        margin-top: 142px;
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #mark-com{
        height: 518px;
        margin-top: 194px;
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .test{
        width: 100%;
    }
    .test0{
        width: 100%;
    }
    .test img{
        width: 100%;
        height: 275px;
    }
    .test0 p{
        color: #000;
        text-align: justify;
        font-family: roboto condensed;
        padding: 25px;
        line-height: 25px;
    }
    
    .test0 h2{
        color: #000;
        white-space: nowrap;
    }
    #decouverte{
        border: 1px ridge #ad8b3a;
        box-shadow: 0 0 1em #ad8b3a;
        width: 89%;
        box-shadow: #ad8b3a;
        background-color: #ad8b3a;
        height: 100px;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    #decouverte h2{
        margin-top: 35px;
        white-space: nowrap;
        font-size: 20px;
        color: #fff;
        
    }
    #contact{
        margin-top: -10%;  
    }
    input{
        margin-left: 14%;
        margin-bottom: 4%;
        display: block;
        width: 261px;
        height: 32px;
        border-radius: 12px;
        border: 1px black solid;
        border-bottom: 2px #c90017 solid;
       }
       #recherche{
        margin-top: 3%;
    }
    .message{
        width: 261px;
        height: 170px;
        border: 1px black solid;
    }
    .button-envoyer{ 
         margin-bottom: 15px;
         background-color: #ad8b3a;
         width: 73px;
         float: right;
         margin-right: -37px;
    }
   .contact-maps{
    width: 98%; 
    }
    .map{
        display: none;
    }
    .maps{
        display: block;
        margin-top: 13%;
        width: 100%;
    }
    #newsletter{
        margin-top: 10%;  
        margin-left: auto;
        margin-right: auto;
        width:100%;
        margin-bottom: 5%;   
    }
    .newsletter-image{
    width: 100%;
    height: 185px;
    } 
    .text0 h2 {
    white-space: nowrap;
    font-size: 20px ;
    margin-left: -9px;
    } 
    .email{
    width: 300px;
    height: 25px;
    border: none;
    margin-left: -150px;
    } 
    footer{
        background-color: #c90017;
        height: 100px;
        margin-bottom: 0px;
        width: 100%;
    }
    footer p {
        color: #fff;
        float: left;
        margin-top: 38px;
        font-size: 10px;
    }
    footer ul{
        margin-right: 10px;
        display: flex;
        margin-top: 42px;
    
    }
    footer ul li {
        text-decoration: none;
        list-style: none;
    }
    .social-media{
        width: 15px;
        height: 15px;
    }
    #section{
        margin-top: 48%;
    }
    #nos-formateurs  {
        display: none;
    
}